USE [SPOSDATA]
GO
/****** Object:  StoredProcedure [dbo].[spHavelockSalesUpdate]    Script Date: 2023-12-16 12:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[spHavelockSalesUpdate]
@LocationID		int,
@Receipt		CHAR(20),
@UnitNo 		int
AS

declare @zno bigint

select @zno=Zno from SysConfig where UnitNo=@UnitNo

select  convert(varchar(50),[cashierId])[cashierId]
           ,convert(varchar(15),[customerMobileNo])[customerMobileNo]
           ,convert(varchar(12),[invoiceType])[invoiceType]
           ,convert(varchar(50),[invoiceNo])[invoiceNo]
           ,p.[invoiceDate]
           ,convert(varchar(3),[currencyCode])[currencyCode]
           ,convert(decimal(8,4),[currencyRate])[currencyRate]
           ,convert(decimal(15,4),[totalInvoice])[totalInvoice]
           ,convert(decimal(15,4),0)[totalTax]
           ,convert(decimal(15,4),[totalDiscount])[totalDiscount]
           ,convert(decimal(15,4),[totalGiftVoucherSale])[totalGiftVoucherSale]
           ,convert(decimal(15,4),0)[totalGiftVoucherTax]
           ,convert(decimal(15,4),[totalGiftVoucherDiscount])[totalGiftVoucherDiscount]
           ,convert(decimal(15,4),[paidByCash])[paidByCash]
           ,convert(decimal(15,4),[paidByCard])[paidByCard]
           ,convert(varchar(5),[cardBank])[cardBank]
           ,convert(varchar(6),[cardCategory])[cardCategory]
           ,convert(varchar(10),[cardType])[cardType]
           ,convert(decimal(15,4),[GiftVoucherBurn])[GiftVoucherBurn]
           ,convert(decimal(15,4),[HcmLoyalty])[HcmLoyalty]
           ,convert(decimal(15,4),0)[tenantLoyalty]
           ,convert(decimal(15,4),[creditNotes])[creditNotes]
           ,convert(decimal(15,4),[otherPayments])[otherPayments]
           ,0[DataTransfer]
		   into #tempSales
		   from 
		   (select Receipt,LocationID,UnitNo,ZNo,max(RecDate) [invoiceDate] 
		   ,max(Cashier)[cashierId],MAX(CustomerPhone)[customerMobileNo]
		   ,case when sum(case when DocumentID in(1,3) then Nett when DocumentID in(2,4,6) then -Nett else 0 end)>0 then 'Sale' else 'Refund' end [invoiceType]
		   ,Receipt [invoiceNo]
           ,ABS(sum(case when DocumentID in(1,3) then Nett when DocumentID in(2,4,6) then -Nett else 0 end))[totalInvoice]
           ,ABS(sum(case when DocumentID in(6) then Nett when DocumentID in(1,3) then (IDiscount1+IDiscount2+IDiscount3+IDiscount4+IDiscount5) when DocumentID in(2,4) then -(IDiscount1+IDiscount2+IDiscount3+IDiscount4+IDiscount5) else 0 end))[totalDiscount]
           ,ABS(sum(case when SaleTypeID=2 then Nett else 0 end))[totalGiftVoucherSale]
           ,ABS(sum(case when SaleTypeID=2 then case when DocumentID in(6) then Nett when DocumentID in(1,3) then (IDiscount1+IDiscount2+IDiscount3+IDiscount4+IDiscount5) when DocumentID in(2,4) then -(IDiscount1+IDiscount2+IDiscount3+IDiscount4+IDiscount5) else 0 end else 0 end))[totalGiftVoucherDiscount]
           from TransactionDet
		   where Status=1
		   group by Receipt,LocationID,UnitNo,ZNo) t ,
		   (select Receipt,LocationID,UnitNo,ZNo,max(Sdate) [invoiceDate] 
		   ,isnull((select top 1 CurrencyCode from Currency where CurrencyID= isnull(MAX(pp.CurrencyID),1)),'LKR') [currencyCode]
		   ,min(CurrencyRate)[currencyRate]
		   ,ABS(SUM(case when PayTypeID=1 then case when Amount>Balance then Balance else Amount end else 0 end))[paidByCash]
           ,ABS(SUM(case when PayTypeID in(2,3,4,7,62) then case when Amount>Balance then Balance else Amount end else 0 end))[paidByCard]
           ,isnull((select top 1 Bank from Bank where BankId=min(pp.BankId)),'')[cardBank]
           ,(select top 1 Descrip from Paytype where PaymentID=min(pp.PayTypeID))[cardCategory]
           ,(select top 1 Descrip from Paytype where PaymentID=min(pp.PayTypeID))[cardType]
           ,ABS(SUM(case when PayTypeID=6 then case when Amount>Balance then Balance else Amount end else 0 end))[GiftVoucherBurn]
           ,ABS(SUM(case when pt.Descrip='HCM VOUCHER' then case when Amount>Balance then Balance else Amount end else 0 end))[HcmLoyalty]
           ,ABS(SUM(case when PayTypeID=14 then case when Amount>Balance then Balance else Amount end else 0 end))[creditNotes]
           ,ABS(SUM(case when PayTypeID not in(1,2,3,4,6,7,14,62) and pt.Descrip<>'HCM VOUCHER' then case when Amount>Balance then Balance else Amount end else 0 end))[otherPayments]
		   from PaymentDet pp left join Paytype pt on pp.PayTypeID=pt.PaymentID where BillTypeID=1
		   group by Receipt,LocationID,UnitNo,ZNo) p
		   where  t.Receipt=p.Receipt and t.LocationID=p.LocationID and t.UnitNo=p.UnitNo and p.ZNo=t.ZNo
		   and p.Receipt=@Receipt and p.LocationID=@LocationID and p.UnitNo=@UnitNo

INSERT INTO [dbo].[HavelockSalesData]
           ([cashierId]
           ,[customerMobileNo]
           ,[invoiceType]
           ,[invoiceNo]
           ,[invoiceDate]
           ,[currencyCode]
           ,[currencyRate]
           ,[totalInvoice]
           ,[totalTax]
           ,[totalDiscount]
           ,[totalGiftVoucherSale]
           ,[totalGiftVoucherTax]
           ,[totalGiftVoucherDiscount]
           ,[paidByCash]
           ,[paidByCard]
           ,[cardBank]
           ,[cardCategory]
           ,[cardType]
           ,[GiftVoucherBurn]
           ,[hcmLoyalty]
           ,[tenantLoyalty]
           ,[creditNotes]
           ,[otherPayments]
           ,[DataTransfer])
    select [cashierId]
           ,[customerMobileNo]
           ,[invoiceType]
           ,[invoiceNo]
           ,[invoiceDate]
           ,[currencyCode]
           ,[currencyRate]
           ,[totalInvoice]
           ,[totalTax]
           ,[totalDiscount]
           ,[totalGiftVoucherSale]
           ,[totalGiftVoucherTax]
           ,[totalGiftVoucherDiscount]
           ,[paidByCash]
           ,[paidByCard]
           ,[cardBank]
           ,[cardCategory]
           ,[cardType]
           ,[GiftVoucherBurn]
           ,[hcmLoyalty]
           ,[tenantLoyalty]
           ,[creditNotes]
           ,[otherPayments]
           ,[DataTransfer]
		   from #tempSales
		   
INSERT INTO [dbo].[HavelockSalesDataBackup]
           ([cashierId]
           ,[customerMobileNo]
           ,[invoiceType]
           ,[invoiceNo]
           ,[invoiceDate]
           ,[currencyCode]
           ,[currencyRate]
           ,[totalInvoice]
           ,[totalTax]
           ,[totalDiscount]
           ,[totalGiftVoucherSale]
           ,[totalGiftVoucherTax]
           ,[totalGiftVoucherDiscount]
           ,[paidByCash]
           ,[paidByCard]
           ,[cardBank]
           ,[cardCategory]
           ,[cardType]
           ,[GiftVoucherBurn]
           ,[hcmLoyalty]
           ,[tenantLoyalty]
           ,[creditNotes]
           ,[otherPayments]
           ,[DataTransfer])
     select [cashierId]
           ,[customerMobileNo]
           ,[invoiceType]
           ,[invoiceNo]
           ,[invoiceDate]
           ,[currencyCode]
           ,[currencyRate]
           ,[totalInvoice]
           ,[totalTax]
           ,[totalDiscount]
           ,[totalGiftVoucherSale]
           ,[totalGiftVoucherTax]
           ,[totalGiftVoucherDiscount]
           ,[paidByCash]
           ,[paidByCard]
           ,[cardBank]
           ,[cardCategory]
           ,[cardType]
           ,[GiftVoucherBurn]
           ,[hcmLoyalty]
           ,[tenantLoyalty]
           ,[creditNotes]
           ,[otherPayments]
           ,[DataTransfer]
		   from #tempSales
		   
