USE [EasyWay]
GO
/****** Object:  Table [dbo].[testitem]    Script Date: 8/16/2023 2:17:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[testitem](
	[itemcode] [nvarchar](255) NULL,
	[descrip] [nvarchar](255) NULL,
	[CatCode] [varchar](10) NULL,
	[CatName] [nvarchar](255) NULL,
	[SubCatCode] [varchar](10) NULL,
	[SubCatName] [nvarchar](255) NULL,
	[Cost] [float] NULL,
	[Qty] [float] NULL,
	[Referance ] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
INSERT [dbo].[testitem] ([itemcode], [descrip], [CatCode], [CatName], [SubCatCode], [SubCatName], [Cost], [Qty], [Referance ]) VALUES (N'1001', N'   Black WNN 150% 100GM', N'1', N'Dye Items', N'01', NULL, 150, 10, N'')
INSERT [dbo].[testitem] ([itemcode], [descrip], [CatCode], [CatName], [SubCatCode], [SubCatName], [Cost], [Qty], [Referance ]) VALUES (N'1002', N'   Black WNN 250GM', N'1', N'Dye Items', N'01', NULL, 400, 10, N'')
INSERT [dbo].[testitem] ([itemcode], [descrip], [CatCode], [CatName], [SubCatCode], [SubCatName], [Cost], [Qty], [Referance ]) VALUES (N'1003', N'   Blue 3R 100GM', N'1', N'Dye Items', N'01', NULL, 215, 10, N'')
GO
